<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Conversor de moedas</title>


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-Hc2Qr1O9RhzKt4h4XYwb0KT7bIaPhz/7WfKpJ28e9VPMJm86WbKTf28Ly5Tw6I+M" crossorigin="anonymous">

</head>

<body>

  <div class="container py-5">
    <h1 class="text-center mb-5">Conversor de moedas</h1>

    <div class="row justify-content-center">
      <div class="col-md-6">
        <form>
          <div class="form-group">
            <label for="inputValue">Valor</label>
            <input type="number" class="form-control" id="inputValue" name="inputValue" [(ngModel)]="inputValue">
          </div>

          <div class="form-group">
            <label for="exchangeRate">Valor do câmbio</label>
            <input type="number" class="form-control" id="exchangeRate" name="exchangeRate" [(ngModel)]="exchangeRate">
          </div>

          <div class="form-group">
            <label for="fromUnit">De</label>
            <select class="form-control" id="fromUnit" name="fromUnit" [(ngModel)]="fromUnit">
              <option value="USD">Dólar</option>
              <option value="EUR">Euro</option>
              <option value="BRL">Real</option>
            </select>
          </div>

          <div class="form-group">
            <label for="toUnit">Para</label>
            <select class="form-control" id="toUnit" name="toUnit" [(ngModel)]="toUnit">
              <option value="USD">Dólar</option>
              <option value="EUR">Euro</option>
              <option value="BRL">Real</option>
            </select>
            <br/>
          </div>

          <div class="form-group text-center">
            <button type="button" class="btn btn-primary" (click)="convert()">Converter</button>
          </div>
        </form>

        <div class="result text-center mt-5">
          <h2>Resultado</h2>
          <p>{{convertedValue}}</p>
        </div>
      </div>
    </div>
  </div>